@import './variables';
@import './mixins';
@import "../fontello/css/icons.css";

.services {
  box-sizing: border-box;
  padding: 30px;
  text-align: center;

  & h2 {
    // font-size: 50px;
    font-size: 30px;
    text-transform: uppercase;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    color: $accent-color;
    word-spacing: 10px;

    & span {
      color: $text-color;
      text-transform: uppercase;
    }
  }

  @include respond-to(lg) {
    padding: 50px;
  }

  @include respond-to(xl) {
    padding: 45px;
  }

  &__title {
    font-size: 2rem;
    color: $primary-color;
  }

  &__list {
    margin: 20px 0 0 0;

    @include respond-to(lg) {
      margin: 60px 0 0 0;
    }

    @include respond-to(xl) {
      margin: 100px 0 0 0;
    }
  }

  &__item {
    box-sizing: border-box;
    margin-bottom: 60px;
    padding: 30px 20px;
    // border: 1px solid $secondary-color;
    width: 100%;

    &.animated-border {
      position: relative;
      border: 1px solid $secondary-color;
      transition: 1.25s ease-out;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-color: $accent-color;
        background-repeat: no-repeat;
        background-size: 0 2px, 2px 0;
        background-position: 0 0, 100% 100%, 100% 100%, 0 0;
        background-image: linear-gradient(0deg, $accent-color, $accent-color), linear-gradient(0deg, $accent-color, $accent-color), linear-gradient(0deg, $accent-color, $accent-color), linear-gradient(0deg, $accent-color, $accent-color);
        transition: background-size .82s cubic-bezier(.36, .03, .2, .91);
        pointer-events: none;
        box-sizing: border-box;
      }

      &:hover::after,
      &:focus::after {
        background-size: 100% 2px, 2px 100%;
        z-index: 1;
      }

      &:hover,
      &:focus {
        border: 1px solid transparent;
      }
    }

    @include respond-to(lg) {
      margin-bottom: 130px;
      height: 350px;
    }

    @include respond-to(xl) {
      margin-bottom: 130px;
      height: 400px;
    }
  }

  &__item-wrapper {

    @include respond-to(lg, xl) {
      position: relative;
    }

  }

  &__item-image {
    position: relative;
    overflow: hidden;
    height: 200px;
    z-index: 2;

    @include respond-to(lg, xl) {
      position: absolute;
      bottom: -350px;
      right: 0;
      width: 70%;
      height: auto;
      max-height: 350px;
    }

    @include respond-to(xl) {
      right: 39%;
      width: 60%;
      max-height: 400px;
      bottom: -400px;
    }
  }

  &__item-image img {
    height: 100%;

    @include respond-to(lg) {
      width: 100%;
    }

    @include respond-to(xl) {
      width: 100%;
    }
  }

  &__item-content {
    z-index: 2;
    // padding: 25px;

    @include respond-to(lg, xl) {
      padding: 25px 20px;
      position: absolute;
      top: -55px;
      left: 0;
      width: 70%;
      background: rgba(16, 19, 21, 0.5);
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
    }

    @include respond-to(xl) {
      top: -65px;
      left: 40%;
      width: 55%;
      padding: 40px 20px;
    }

    & li {
      color: $text-color;
      text-align: left;

      &:before {
        content: '';
        font-family: 'fontello';
        font-size: 10px;
        color: $secondary-color;
        display: inline-block;
        margin-right: 10px;
        transform: translateY(-28%) rotate(45deg);

        @include respond-to(xl) {
          font-size: 15px;
          transform: translateY(-15%) rotate(45deg);
        }
      }

      &.icon-stop-outline:before {
        content: '\e82e';
      }

      @include respond-to(xl) {
        font-size: 18px;
      }
    }

  }

  h3 {
    color: $accent-color;
    font-size: 1.5em;
    text-transform: uppercase;
    margin: 15px 0;
    line-height: 1em;

    @include respond-to(lg, xl) {
      margin: 0 0 15px 0;
    }

    @include respond-to(xl) {
      margin: 0 0 25px 0;
    }
  }
}