
.icon-quote:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-heart:before { content: '\e803'; } /* '' */
.icon-heart-empty:before { content: '\e804'; } /* '' */
.icon-star:before { content: '\e805'; } /* '' */
.icon-star-empty:before { content: '\e806'; } /* '' */
.icon-user:before { content: '\e807'; } /* '' */
.icon-videocam:before { content: '\e808'; } /* '' */
.icon-picture:before { content: '\e809'; } /* '' */
.icon-ok:before { content: '\e80a'; } /* '' */
.icon-ok-circled:before { content: '\e80b'; } /* '' */
.icon-ok-circled2:before { content: '\e80c'; } /* '' */
.icon-cancel:before { content: '\e80d'; } /* '' */
.icon-cancel-circled:before { content: '\e80e'; } /* '' */
.icon-cancel-circled2:before { content: '\e80f'; } /* '' */
.icon-plus:before { content: '\e810'; } /* '' */
.icon-plus-circled:before { content: '\e811'; } /* '' */
.icon-minus:before { content: '\e812'; } /* '' */
.icon-minus-circled:before { content: '\e813'; } /* '' */
.icon-info-circled:before { content: '\e814'; } /* '' */
.icon-home:before { content: '\e815'; } /* '' */
.icon-pencil:before { content: '\e816'; } /* '' */
.icon-edit:before { content: '\e817'; } /* '' */
.icon-comment:before { content: '\e818'; } /* '' */
.icon-chat:before { content: '\e819'; } /* '' */
.icon-bell:before { content: '\e81a'; } /* '' */
.icon-location:before { content: '\e81b'; } /* '' */
.icon-folder:before { content: '\e81c'; } /* '' */
.icon-folder-open:before { content: '\e81d'; } /* '' */
.icon-phone:before { content: '\e81e'; } /* '' */
.icon-align-justify:before { content: '\e81f'; } /* '' */
.icon-briefcase:before { content: '\e820'; } /* '' */
.icon-book:before { content: '\e821'; } /* '' */
.icon-check:before { content: '\e822'; } /* '' */
.icon-key:before { content: '\e823'; } /* '' */
.icon-mail-1:before { content: '\e824'; } /* '' */
.icon-folder-1:before { content: '\e825'; } /* '' */
.icon-paper-plane-1:before { content: '\e826'; } /* '' */
.icon-suitcase-1:before { content: '\e827'; } /* '' */
.icon-briefcase-1:before { content: '\e828'; } /* '' */
.icon-quote-left-1:before { content: '\e829'; } /* '' */
.icon-quote-right-1:before { content: '\e82a'; } /* '' */
.icon-quote-left-alt:before { content: '\e82b'; } /* '' */
.icon-quote-right-alt:before { content: '\e82c'; } /* '' */
.icon-stop:before { content: '\e82d'; } /* '' */
.icon-stop-outline:before { content: '\e82e'; } /* '' */
.icon-play-outline:before { content: '\e82f'; } /* '' */
.icon-play:before { content: '\e830'; } /* '' */
.icon-check-empty:before { content: '\f096'; } /* '' */
.icon-phone-squared:before { content: '\f098'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-chat-empty:before { content: '\f0e6'; } /* '' */
.icon-paste:before { content: '\f0ea'; } /* '' */
.icon-lightbulb:before { content: '\f0eb'; } /* '' */
.icon-suitcase:before { content: '\f0f2'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-circle-empty:before { content: '\f10c'; } /* '' */
.icon-quote-left:before { content: '\f10d'; } /* '' */
.icon-quote-right:before { content: '\f10e'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */
.icon-folder-empty:before { content: '\f114'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-direction:before { content: '\f124'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-rocket:before { content: '\f135'; } /* '' */
.icon-ellipsis:before { content: '\f141'; } /* '' */
.icon-ellipsis-vert:before { content: '\f142'; } /* '' */
.icon-minus-squared:before { content: '\f146'; } /* '' */
.icon-minus-squared-alt:before { content: '\f147'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */
.icon-pencil-squared:before { content: '\f14b'; } /* '' */
.icon-doc-inv:before { content: '\f15b'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-gittip:before { content: '\f184'; } /* '' */
.icon-box:before { content: '\f187'; } /* '' */
.icon-plus-squared-alt:before { content: '\f196'; } /* '' */
.icon-space-shuttle:before { content: '\f197'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */
.icon-circle-thin:before { content: '\f1db'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-balance-scale:before { content: '\f24e'; } /* '' */
.icon-hourglass-o:before { content: '\f250'; } /* '' */
.icon-hourglass-1:before { content: '\f251'; } /* '' */
.icon-hourglass-2:before { content: '\f252'; } /* '' */
.icon-hourglass-3:before { content: '\f253'; } /* '' */
.icon-hourglass:before { content: '\f254'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
.icon-linkedin-1:before { content: '\f318'; } /* '' */
.icon-linkedin-circled:before { content: '\f319'; } /* '' */
.icon-instagram-1:before { content: '\f32d'; } /* '' */
